/********************
 * Entry Meta
 ********************/

.entry-meta {
  border-bottom: 5px solid #cccccc;
  padding-bottom: 0.5rem;
  margin-bottom: 0.75rem;
}

.entry-meta p {
  text-indent: 0;
  margin-bottom: 0.25rem;
}

.entry-meta h1 {
  margin: 0;
  margin-bottom: 1rem;
}

/********************
 * Entry Content
 ********************/

.entry-content table,
.entry-content tbody,
.entry-content tr {
  display: block;
  width: 100%;
}

.entry-content tr {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.entry-content td {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
}


.entry-content figure {
  margin: 0 1.5rem 1rem;
  font-size: 0;
  color: #ffffff;
}

.entry-content figure figcaption {
  font-size: 0.9rem;
  color: #000;
  font-style: italic;
  margin-bottom: 1rem;
}

.entry-content aside {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem 1rem;
}

.entry-content aside img {
  margin-bottom: 1rem;
}

.entry-content img {
  max-width: 100% !important;
  height: auto !important;
  display: block;
  margin: 0 auto 1rem auto;
}

.entry-content img[src^="http://"],
.entry-content img[src^="https://"]
{
  display: none;
}

.entry-content p {
  margin: 0;
  margin-bottom: 1rem;
  text-indent: 0;
}

.entry-content h1,
.entry-content h2,
.entry-content h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.entry-content blockquote {
  margin: 0 1rem 0 0.5rem;
  padding: 0 0 0 0.75rem;
  border-left: 10px solid #ccc;
  font-style: italic;
}

.entry-content pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 3px;
  overflow-x: auto;
}

.entry-content code {
  background-color: #f5f5f5;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: monospace;
}
